<div class="login-google">
  <div class="login-google-content">
    <h1>Access Area</h1>
      <div class="login-text"><p>Create/Acces to your account in one step</p></div>
      <a href="/auth/google" class="btn btn-block btn-danger"><i class="fab fa-google"></i> Login with Google</a>
    </div>
</div>
