<div class="login-google">
<div class="login-google-content">
<h1>Login Page</h1>
<div class="login-text"><p>Create/Acces to your account in one step</p></div>
<a href="/auth/google" class="btn btn-block btn-danger"> <i class="fa fa-google"></i> Sell your soul to google </a>
</div>
</div>
