<!-- Footer section -->
 <footer class="footer-section-nav">
  <div class="container">
    <ul class="footer-menu-nav">
       <li><a href="/">Home</a></li>
       <li><a href="/search">Search</a></li>
       <li><a href="/login">Acces</a></li>
    </ul>
    <p class="copyright">
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This is made <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>Carlos Gonzalez & Santi for IronHack!</a>
    </p>
  </div>
 </footer>
 <!-- Footer section end -->