 <!-- Hero section -->
 <section class="hero-section">
   <div class="hero-slider owl-carousel">
  
     <div class="hs-item set-bg" data-setbg="img/slider-2.jpg">
       <div class="hs-text">
         <div class="container">
           <h2>Search <span>Players</span> and play!</h2>
           <p>Find players and make friends playing in your favourites games.</p>
         <form id="form-home" action="/search" method="GET">
          <input name="freeField" type="text" class="form-control" id="inputNick" placeholder="search...">
         </form>
         </div>
       </div>
     </div>
 </div>
 </section>
 <!-- Hero section end -->

 <!-- Latest news section -->
 <div class="latest-news-section">
   <div class="ln-title">Last Players</div>
   <div class="news-ticker">
     <div class="news-ticker-contant">
       {{#each players as |player|}}
       <div class="nt-item"><span class="strategy">{{player.country}}</span>{{player.nick}}</div>
       {{/each}}
     </div>
   </div>
 </div>
 <!-- Latest news section end -->

 <!-- Recent game section  -->
 <section class="recent-game-section spad set-bg" data-setbg="img/recent-game-bg.png">
   <div class="container">
     <div class="section-title">
       {{!-- <div class="cata new">new</div> --}}
       <h2>Recent News</h2>
     </div>
     <div class="row">
       <div class="col-lg-4 col-md-6">
         <div class="recent-game-item">
           <div class="rgi-thumb set-bg" data-setbg="img/recent-game/1.jpg">
             <div class="cata new">new</div>
           </div>
           <div class="rgi-content">
             <h5>New assasin hero on league of legends</h5>
             <p>Valariz, new asassin hero on league of legends, available from the last update, good in close combats and powerfull against mages</p>
             <a href="#" class="comment">3 Comments</a>
             <div class="rgi-extra">
               <div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
               <div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
             </div>
           </div>
         </div> 
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="recent-game-item">
           <div class="rgi-thumb set-bg" data-setbg="img/recent-game/2.jpg">
             <div class="cata racing">Shooter</div>
           </div>
           <div class="rgi-content">
             <h5>Halo unveils his new game</h5>
             <p>Ubisoft unveils his new game for the Halo saga, with a great cinematic that give us clues about new functionalities</p>
             <a href="#" class="comment">2 Comments</a>
             <div class="rgi-extra">
               <div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
               <div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
             </div>
           </div>
         </div> 
       </div>
       <div class="col-lg-4 col-md-6">
         <div class="recent-game-item">
           <div class="rgi-thumb set-bg" data-setbg="img/recent-game/3.jpg">
             <div class="cata adventure">Adventure</div>
           </div>
           <div class="rgi-content">
             <h5>New map on fortnite</h5>
             <p>New game for 20 players on Fortnite, it will be inspired on postapocaliptyc era, and  a devastated world.</p>
             <a href="#" class="comment">3 Comments</a>
             <div class="rgi-extra">
               <div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
               <div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
             </div>
           </div>
         </div> 
       </div>
     </div>
   </div>
 </section>
 <!-- Recent game section end -->


 <!-- Tournaments section -->
 <section class="tournaments-section spad">
   <div class="container">
     <div class="tournament-title">Tournaments</div>
     <div class="row">
       <div class="col-md-6">
         <div class="tournament-item mb-4 mb-lg-0">
           <div class="ti-notic">Premium Tournament</div>
           <div class="ti-content">
             <div class="ti-thumb set-bg" data-setbg="img/tournament/1.jpg"></div>
             <div class="ti-text">
               <h4>World Of WarCraft</h4>
               <ul>
                 <li><span>Tournament Beggins:</span> June 20, 2018</li>
                 <li><span>Tounament Ends:</span> July 01, 2018</li>
                 <li><span>Participants:</span> 10 teams</li>
                 <li><span>Tournament Author:</span> Admin</li>
               </ul>
               <p><span>Prizes:</span> 1st place $2000, 2nd place: $1000, 3rd place: $500</p>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class="tournament-item">
           <div class="ti-notic">Premium Tournament</div>
           <div class="ti-content">
             <div class="ti-thumb set-bg" data-setbg="img/tournament/2.jpg"></div>
             <div class="ti-text">
               <h4>DOOM</h4>
               <ul>
                 <li><span>Tournament Beggins:</span> June 20, 2018</li>
                 <li><span>Tounament Ends:</span> July 01, 2018</li>
                 <li><span>Participants:</span> 10 teams</li>
                 <li><span>Tournament Author:</span> Admin</li>
               </ul>
               <p><span>Prizes:</span> 1st place $2000, 2nd place: $1000, 3rd place: $500</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
  <!-- Footer top section end -->
 <!--====== Javascripts & Jquery ======-->
 <script src="../js/jquery-3.2.1.min.js"></script>
 <script src="../js/bootstrap.min.js"></script>
 <script src="../js/owl.carousel.min.js"></script>
 <script src="../js/jquery.marquee.min.js"></script>
 <script src="../js/main.js"></script>


