<h2>{{player.nick}}</h2>
<p>Player nick: {{player.nick}}</p>
<p>Player nickInGame: {{player.nickInGame}}</p>
<a class="btn btn-primary" href="/searchResults">Back to the players list</a>
<a class="btn btn-primary" href="/player/{{player._id}}/edit">Edit your profile</a>  